/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}

/* EFFECTS */

.favorite:hover{
    color: red;
    cursor: pointer;
}

.card:hover .img-1{
    display: none;
}

.card:hover .img-2{
    display: inline-block;
}

.card:hover{
    border: 1px solid var(--orange);
}




/* UTILITIES */

body{
    font-family: Arial, Helvetica, sans-serif;
}


:root{
    --orange:#FF6900;
    --green:#008000;
    --balck: #000000;
    --red: #FF0000;
    --black-footer: #1A1A1A;
}

.pd10{
    padding: 10px 0px;
}


.gap15{
    gap: 15px;
}

.gap10{
    gap: 10px;
}

/* COMMON */

.container{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.relative{
    position:relative
}

.absolute{
    position: absolute;
}

/* HEADER */

header{
    background-color: var(--orange);
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 2px 2px grey;
}

header > div{
    align-items: center;
}

.header-menu{
    width: 30%;
}

.user-area{
    width: 20%
}

.logo{
    width: 50%;
    text-align: center;
}

.logo img{
    width: 10rem;
}

.user-area ul{
    justify-content: right;
}
/* MAIN */

main{
    position: relative;
    top: 50px;
    padding: 50px 0px;
}

.col{
    justify-content: center;
}

.card{
    width: calc(100% / 3 - 10px);
}

.flag > span{
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    bottom: 50px;
    left: 0px;
}

.favorite{
    padding: 10px 15px;
    right: 0;
    top: 10px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.flag {
    bottom: 40px;
    left: 0px;
    z-index: 1;
}
.discount{
    background-color: var(--red);
}

.characteristic{
    background-color: var(--green);
}

.img-2{
    display: none;
}

/* information */
.information{
    line-height: 1rem;
    padding-left: 5px;
}

.information > h5{
    text-transform: uppercase;
}

.brand, .price, .price-discount{
    font-size: 0.8rem;
}

.price{
    color: var(--red);
    font-weight: bold;
}

.price-discount{
    text-decoration: line-through;
}

/* FOOTER */